    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin);
    @import url(https://fonts.googleapis.com/css?family=Open+Sans:300&subset=latin);



    .product_swatch img { border-radius: 1px; -moz-border-radius: 1px; -webkit-border-radius: 1px; -ms-border-radius: 1px; }
    .product_swatch img { width: 20px; }
    .product_swatch img { height: 20px; }

    .swatches .filter_checkbox .swatch-container{ width: 30px; }
    .swatches .filter_checkbox .swatch-container{ height: 30px; }

    .customer-account-login #page-body-section-02, .customer-account-forgotpassword #page-body-section-02, .customer-account-create #page-body-section-02  {
    background-image: url(http://localhost/rentram/media/cleo/default/bg.jpg.png);
    }


    .w, .toolbar, .products-list, #wpmm-nav, .wpmm-nav-content-inner  {max-width: 1300px ; }



    #wrapper { max-width: 100%; margin:0 auto; }






    .v2 #page-header-section-01  { background-color:  #232323 !important; }
    .v2 #page-header-section-01  { color:  #FFFFFF !important; }





    #wpas-q { background-color:  #FFFCE8 !important; }
    #wpas-q { border: 1px solid #FEBD69 !important; }

















    body, p, input, select, textarea, th, td, b, strong, caption, th, td,
    #product-info .product-description,
    #product-reviews p, #product-reviews label
    {
            font-family: 'Open Sans', sans-serif !important;
                font-weight: 300 !important;
        }

    address, caption, cite, code, dfn, h1, h2, h3, h4, h5, h6, var,
    .features h4,
    .category-intro .category-description h4,
    #page-footer-section-02 h4,
    .product-essential,
    #product-reviews h4,
    #product-view .product-info dt,
    .add-to-cart .button span
    {
            font-family: 'Open Sans', sans-serif !important;
                font-weight: 300 !important;
        }

    body, input, select, textarea, th, td, b, strong, caption, th, td,
    #product-info .product-description,
    #product-reviews p, #product-reviews label
    { font-size:  14px !important; }

    h1,#product-info h1 { font-size:  18px !important;}

    h2 { font-size:  16px !important;}

    h3, #product-reviews h3 { font-size:  14px !important;}

    h4 { font-size:  13px !important;}

    #product-view .product-info dt, #product-reviews h4 span { font-size:  18px !important;}

    .products-grid .item h4, .products-list .item h4 { font-size:  18px !important;}

    .category-intro .category-description h4 { font-size:  18px !important;}

