<?xml version="1.0"?>
<!--
/**
 *
* @author
* @copyright   Copyright (c) 2014 rentram
* @license
*
-->
<config>
  <modules>
      <Productlog_Viewer>
          <version>1.1.0</version>
      </Productlog_Viewer>
  </modules>
  <global>
    <blocks>
       <viewer>
           <class>Productlog_Viewer_Block</class>
       </viewer>
   </blocks>
    <helpers>
       <viewer>
           <!-- Helper definition needed by Magento -->
           <class>Productlog_Viewer_Helper</class>
       </viewer>
    </helpers>
    <models>
      <viewer>
        <class>Productlog_Viewer_Model</class>
        <resourceModel>viewer_resource</resourceModel>
      </viewer>
      <viewer_resource>
        <class>Productlog_Viewer_Model_Resource</class>
        <entities>
          <viewer>
            <table>viewer</table>
          </viewer>
        </entities>
      </viewer_resource>
    </models>

    <resources>
      <viewer_setup>
        <setup>
          <module>Productlog_Viewer</module>
        </setup>
        <connection>
           <use>core_setup</use>
       </connection>
      </viewer_setup>
        <viewer_write>
         <connection>
             <use>core_write</use>
         </connection>
       </viewer_write>
       <viewer_read>
           <connection>
               <use>core_read</use>
           </connection>
       </viewer_read>
    </resources>
  </global>

  <frontend>
    <routers>
        <viewer>
            <use>standard</use>
            <args>
                <module>Productlog_Viewer</module>
                <frontName>createLog</frontName>
            </args>
        </viewer>
    </routers>
  </frontend>

    <admin>
       <routers>
        <viewer>
         <use>admin</use>
         <args>
          <module>Productlog_Viewer</module>
          <frontName>viewer</frontName>
         </args>
        </viewer>
       </routers>
   </admin>

   <adminhtml>
      <menu>
       <viewer module="viewer">
        <title>viewer</title>
        <sort_order>71</sort_order>
        <children>
         <items module="viewer">
          <title>Manage viewers</title>
          <sort_order>0</sort_order>
          <action>viewer/adminhtml_viewer</action>
         </items>
        </children>
       </viewer>
      </menu>
      <acl>
       <resources>
        <all>
         <title>Allow Everything</title>
        </all>
        <admin>
         <children>
          <Productlog_Viewer>
           <title>viewer Module</title>
           <sort_order>10</sort_order>
          </Productlog_Viewer>
         </children>
        </admin>
       </resources>
      </acl>
      <layout>
           <updates>
               <employee>
                   <file>viewer.xml</file>
               </employee>
           </updates>
       </layout>
    </adminhtml>
</config>
